.img-dialogs {
    width: 100px;
}


p {
    
  color: green;
  font-size: 50px;
}

.app-wrapper {
    display: grid;
    
    grid-template-areas:
    "h h"
    "n c"
    "n y";
    
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: h;
    background-color: green;
}

.nav {
    grid-area: n;
    background-color: gray;
    height: 100vh;
    width: 100px;
    padding: 10px;
}

.content {
    grid-area: c;
    background-color: yellow;
}

.header img {
    width: 50px;
}

.content img {
    width: 90px;
}

.post-item{
    grid-area:c;
}

.dialogs {
    
    grid-area:c;
}

