.item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    color: green;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.dialogs img {
    
    width: 100px;
    height: 50px;
}

.img-dialogs {
    width: 100px;
    height: auto;
}

.dialogs {
    
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: blue;
    color:white;
    margin-top: 20px;
}

.active{
    color: blue;
}